body {
    background-color: var(--Escuro);
    color: var(--claro);
}
:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --maisEscuro: #0a0f1c;
    --Escuro: #0f172a;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}
.form{
    margin-bottom: 1.5rem;
    
}

button {    
    display: block;
     color: var(--claro);
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5 ease;
    max-width: 8%;
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
   
    
}   
button:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
    
}
input{
    max-width: 200%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
    /* deixa o scrool do mause mais suave */
}
.texto{
    font-size: 20px;
    color: var(--primaria);
    font-weight: bold;
    margin: 10px;
}
.tipo,#tipo{
    background: var(--vidro);
    color: var(--claro);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--vidro);
    outline: none;
    font-size: 17px;
}
.titulo{
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: bold;
    margin: 60px;
}
.data-input{
    background: var(--vidro);
    color: var(--claro);
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--vidro);
    outline: none;
    font-size: 17px;
}

.totais{
   display: flex;
    flex-direction: column;
    align-items: center;
   
}
.totais-titulo{
    font-size: 30px;
    margin: 20px;
    
}
.lista-entregas{
    font-size: 30px;
    margin: 20px;
}  
.informacao{
    font-size: 20px;
   margin: auto;
} 
#lista{
    font-size: 20px;
}


@media (max-width: 1722px) {
  .form {
   display: flex;
    flex-direction: column;
    align-items: center;
  }
.titulo{
    font-size: 30px;
    margin-top: 50px;
    margin: auto;
}

button{
    max-width: 50%;
    font-size: 16px;
    padding: 0.5rem 1rem;
    margin-top: 20px;
}
#lista{
    font-size: 12px;
}
}   